# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
llama2-stat-analysis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# Streamlit cache
.streamlit/

# Other
.DS_Store
*.log
